//COLORS
$red: #eb5757;
$mainBlack: #333333;
$secondBlack: #4f4f4f;
$infoGray: #828282;
$placeholderGray: #bdbdbd;
$whiteText: #f2f2f2;

//FONTS
$logoFont: 'Poppins', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$searchFont: 'Mulish', sans-serif;

/* 
//ICONS
<i class="fa-regular fa-magnifying-glass"></i>
<i class="fa-solid fa-location-dot"></i>
<i class="fa-solid fa-star"></i>
*/
